// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #357ec7;
$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-github-feed {
  vertical-align: top !important;
  background-color: $background-color;

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0 0 0 0;
  }

  .header {
    .title {
      color: $title-color;
    }

    .name {
      padding-left: 5px;
    }
  }

  .commit-container {
    padding-bottom: 15px;
    font-size: 13px;

    .ago {
      text-align: left;
      color: #e5e5e5;
      font-size: 12px;
      margin: 2px;
    }

    .avatar {
      float: left;
      width: 50px;
      height: 50px;
    }

    .gh-feed-title-message {
      padding-left: 10px;
      float: left;
      vertical-align: top;
      width: 450px;
      text-align: left;

      .gh-feed-title {
        margin: 0 0 2px 0;
        color: #2E2E2E;
      }

      .gf-feed-message {
        word-wrap:break-all;
      }

    }

    .clear {
      clear:both;
    }

  }

  .icon.icon-github {
    font-size: 58px;
    height: 58px;
    width: 66px;
  }

  .more-info {
    color: $moreinfo-color;
  }


}
