<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>xTuple Development Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="logo" data-view="Image" data-image="/xtuple-app.png"
        data-title="Developer Dashboard"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="github_feed" data-view="GithubFeed" data-title="Github Feed"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_xtuple" data-view="Travis" data-unordered="true"
        data-title="xTuple"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_xtuple_extensions" data-view="Travis" data-unordered="true"
        data-title="xtuple-extensions"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_xtuple_private_extensions" data-view="Travis"
        data-unordered="true" data-title="private-extensions"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="resolved_fixed_incidents" data-view="Number" data-title="Number of Unclosed Incidents"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="new_incidents" data-view="Number" data-title="Number of New Incidents"></div>
    </li>
  </ul>
</div>
